@model ResultBlogByIdDto

<div class="col-md-8 ftco-animate">
    <h2 class=mb-3>"@Model.Title</h2>
    <p>@Model.Description</p>

    <p style="text-align:center">
        <img src="@Model.CoverImageURL" alt="" class="img-fluid">
    </p>

    @await Component.InvokeAsync("_BlogDetailClodTagByBlogComponentPartial", new { id = ViewBag.blogid })
    <!--Blog detayında yazarın üstünde gözüken etiketler kısmı. Bunlar da o bloğa ait etiketler-->

    @await Component.InvokeAsync("_BlogDetailAuthorAboutComponentPartial", new { id = ViewBag.blogid })



    <div class="pt-5 mt-5">
        <h3 class="mb-5">Yorumlar</h3>

        @await Component.InvokeAsync("_CommentListByBlogComponentPartial")

        @await Component.InvokeAsync("_AddCommentComponentPartial")
    </div>

</div> 
